@charset "utf-8";

// Font Setup
@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("../assets/fonts/NHaasGrotesk/NHaasGroteskTXPro-55Rg.ttf")
    format("truetype");
}

@font-face {
  font-family: "NeueHaasUnica";
  src: url("../assets//fonts/NeueHaasUnica/NeueHaasUnica-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../assets//fonts/NeueHaasDisplay/NeueHaasDisplay-Mediu.ttf")
    format("truetype");
}

// Custom Color
$md-pink: #f64c72;
$md-blue: #082b9d;
$md-black: #0b0b0b;
$md-warning: yellow;

// Update Bulma's global variables
$dark: $md-black;
$primary: $md-blue;
$link: $md-pink;
$warning: $md-warning;
$size-1: 4rem;
$family-sans-serif: "NeueHaasGrotesk";
$family-primary: "NeueHaasDisplay";
$family-secondary: "NeueHaasUnica";
$radius: 0px;
$hero-body-padding: 0;
$box-shadow: 0;
$box-padding: 0.5rem;
$table-cell-border: 0;

// Custom CSS

html {
  overscroll-behavior: none;
}
body {
  overscroll-behavior: none;
}

ol {
  list-style-type: none;
}

.b {
  border: 1px solid red;
}

.blank {
  height: 90px;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #082b9d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f64c72;
}

// Bulma Import
@import "~bulma";
@import "../../node_modules/pretty-checkbox/src/pretty-checkbox.scss";
